<html>
<style>
.dropbtn {
  background-color: skyblue;
  color: white;
  position: center;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.btn
{
  font-size: 16pt;
  height: 45px;
  width: 250px;
}
</style>
<form action="{% url 'homepage' %}" method="get">
<div class="dropbtn">
  <aside><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/Mirror.png" alt="404 Image" />
  </aside>
<div style="text-align:center"><button class="btn">Go Back To Homepage<a href="#"></a></button></div>
</div>
</form>
</html>