{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <title>Visual Admin Dashboard - Home</title>
    <meta name="description" content="">
    <meta name="author" content="templatemo">

    <link href="{% static 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet">

    
      </head>
  <body>  
    <!-- Left column -->
    <div class="templatemo-flex-row">
      <div class="templatemo-sidebar">
        <header class="templatemo-site-header">
          <div class="square"></div>
          <h1>FLATMATES</h1>
        </header>
        <div class="profile-photo-container">
          <img src="{% static 'images/fm11.jpg' %}" alt="Profile Photo" class="img-responsive">  
          <div class="profile-photo-overlay"></div>
        </div>  
        <div><b><<h2 style="color:white;">Welcome,{{user.first_name}}!</h2></b></div>    
        
        <!-- Search box -->
        <form class="templatemo-search-form" role="search">
          <div class="input-group">
              <button type="submit" class="fa fa-search"></button>
              <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">           
          </div>
        </form>
        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="templatemo-left-nav">          
          <ul>
            <li><a href="#" class="active"><i class="fa fa-home fa-fw"></i>HOME</a></li>
            <li><a href="profile"><i class="fa fa-bar-chart fa-fw"></i>PROFILE</a></li>
            <li><a href="owner"><i class="fa fa-database fa-fw"></i>OWNER</a></li>
            <li><a href="screen"><i class="fa fa-map-marker fa-fw"></i>RENTER</a></li>
            <li><a href="manage-users.html"><i class="fa fa-users fa-fw"></i>MATES</a></li>
            <li><a href="preferences.html"><i class="fa fa-sliders fa-fw"></i>REVIEW</a></li>
            <li><a href="logout"><i class="fa fa-eject fa-fw"></i>Sign Out</a></li>
          </ul>  
        </nav>
      </div>
   </body>
</html>